{% extends "layout.html" %}
{% block body %}
<h2>Contract Opmaken</h2>
<h5>Leerling</h5>
<form class="form-horizontal" action="/rijschool/contract" method="post">
	{% for k,v in fields.iteritems() %}
	<div class="control-group">
		<label class="control-label" for="input{{k}}">{{k}}</label>
		<div class="controls">
			<input class="input-xlarge" type="text" name="{{k}}" value="{{v}}">
		</div>
	</div>
	{% endfor %}
	<hr>
	<h5>Type</h5>
	<h6>Type</h6>
	<input type="checkbox" name="type" value="Theorie">
	Theorie <br>
	<input type="checkbox" name="type" value="Praktijk" checked>
	Praktijk <br>
	<h6>Categorie</h6>
	<input type="radio" name="categorie" value="B" checked>
	B <br>
	<input type="radio" name="categorie" value="BE">
	BE <br>
	<input type="radio" name="categorie" value="C - Klassiek">
	C - Klassiek <br>
	<input type="radio" name="categorie" value="C - Vakbekwaamheid">
	C - Vak <br>
	<input type="radio" name="categorie" value="CE">
	CE<br>

	<hr>
	<h5>Tarieven</h5>

	{% for k,v in tarieven.iteritems() %}
	<div class="control-group">
		<label class="control-label" for="input{{k}}">{{k}}</label>
		<div class="controls">
			<input class="input-xlarge" type="text" name="{{k}}" value="{{v}}">
		</div>
	</div>
	{% endfor %}
	<button type="submit" class="btn">Genereren</button>
</form>

	{% endblock %}
