<!doctype html>
<title>test</title>

<a href=/rijschool/list_students>Leerlingen</a><br>
<a href=/rijschool/list_feb>Leerlingen met betalingen in februari</a><br>
<a href=/rijschool/list_mar>Leerlingen met betalingen in maart</a><br>
<a href=/rijschool/list_apr>Leerlingen met betalingen in april</a><br>
<a href=/rijschool/list_may>Leerlingen met betalingen in mei</a><br>
<a href=/rijschool/list_jun>Leerlingen met betalingen in juni</a><br>
<a href=/rijschool/reload_data>Opnieuw inladen leerlingenbestand</a><br>
