{% extends "layout.html" %}
{% block body %}
<h2>Alle leerlingen</h2>
<table class="table table-bordered">
<tr>
	<th>#</th>
	<th>Identifier</th>
	<th>Name</th>
	<th>Factuur</th>
	<th>Getuigschrift</th>
	<th>Contract</th>
</tr>
{% for i in students %}
<tr>
	<td>{{loop.index}}</td>
	<td>{{i.identifier}}</td> 
	<td>{{ i.name }}</td> 
	<td><a class="btn" href=/rijschool/{{link}}/{{loop.index}}>factuur</a></td>
	<td><a class="btn" href="/rijschool/getuigeschrift?student={{loop.index}}">getuigschrift </a></td>
	<td><a class="btn" href="/rijschool/contract?student={{loop.index}}">contract </a></td>
</tr>
{% endfor %}
</table>
{% endblock %}
